$color-base: #52514e;
$color-primary: #007eb2;
$color-primary-hover: darken($color-primary, 10%);
$color-secondary:#19194F;
$color-background: #F4F4F5;
$color-border: #eee;
$color-error: #d32f2f;
$textColor: #090909;

:export {
  colorPrimary: $color-primary;
}
