.error-component-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: $color-error;
  text-align: center;
}

.error-component-wrapper p {
  font-size: 1.4rem;
  margin: 0;
}

.error-component-wrapper span {
  text-align: center;
  display: inline-block;
}
