.ui.vertical.labeled.sidebar {
  display: flex;
  background: $color-base;
}

.sidebar-branding {
  padding: 16px;
  height: 58px;
}

.sidebar-branding-name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: #fff;

  &:hover {
    background: none;
    opacity: 0.5;
    color: #fff;
  }
}

.sidebar-logo {
  width: 30px;
  margin-right: 8px;
}

.sidebar-menu {
  padding: 0;
  margin: 55px 0 0;
}

.ui.menu {
  border: none;
}

.ui.labeled.icon.menu .item {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.1rem;
  text-align: left;
  padding: 24px 16px;

  &:hover {
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
  }
}

.sidebar-top-container .bars:hover {
  cursor: pointer;
}

.ui.vertical.labeled.sidebar > li {
  padding: 6% 0%;
}

/* Sidebar.push override */
.pushable > .dashboard-content {
  margin-right: 350px;
  height: 100vh;
  overflow: auto;
}

