.dashboard-main-container {
  padding: $dimens-margin-main;

  .column {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .row {
    &:first-of-type {
      padding-bottom: 0 !important;
    }

    &:last-of-type {
      padding-top: 0 !important;
    }
  }
}

.dashboard-databases {
  display: flex;
  justify-content: flex-end;
  margin-top: $dimens-margin-main;
  margin-bottom: -32px;
}

.section-content .grid:first-of-type.row:first-of-type {
  margin-top: 1rem;
}

.section-content .grid:last-of-type .row:last-of-type {
  margin-bottom: 1rem;
}

.section-content .section-wrapper {
  padding-top: 0 !important;
}

.section-content .section-wrapper:first-of-type {
  padding-top: 1rem !important;
}

.ui.grid {
  margin: 0;
}

.ui.grid + .grid {
  margin-top: 0 !important;
}

.section-title {
  font-size: 1.2rem;
}

.summary-container {
  margin-top: $dimens-margin-main;
  padding: $dimens-padding;
  background-color: #fff;
  border-radius: $dimens-card-radius;
  border: 1px solid #e0e0e0;
}

.summary-block {
  margin-bottom: $dimens-margin;

  ul {
    padding-left: 0;
  }

  li {
    list-style-position: inside;
  }
}
